@mixin button {
	background-color: $color-highlight-dark;
	border: 0;
	color: $color-text-highlight-dark;
	
	&:hover {
		@include lighten-background($color-highlight-dark);
	}
}

@mixin buttonIcon {
	$fontSize: $base-font-size;
	$sideSize: $base-line-height;
	
	@include button;
	font-size: px-to-em($fontSize, $base-font-size);
	font-weight: bold;
	height: px-to-em($sideSize, $fontSize);
	line-height: px-to-em($sideSize, $fontSize);
	padding: 0;
	text-align: center;
	width: px-to-em($sideSize, $fontSize);
}
