@import "compass/layout/sticky-footer";

@include sticky-footer(px-to-em($bar-height-footer, $base-font-size));

#contentMain {
	bottom: px-to-em($bar-height-footer, $base-font-size);
	position: absolute;
	top: px-to-em($bar-height-main, $base-font-size);
	width: 100%;
}

#contentSidebar {
	@include padding-content;
	bottom: 0;
	/*float: left;*/
	left: px-to-em($bar-width-side, $base-font-size);
	overflow: auto;
	position: absolute;
	right: 0;
	top: 0;
}
