/* 
    Created on : 08-May-2014, 12:16:28
    Author     : Daniel Silovsky
*/

.layover {
	@include opacity(0.5);
	background-color: black;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}