{extends '@layout.latte'}

{define #cssPath}
/css/account.css
{/define}

{block content}
<div class="barSide">
	{include #sidebarMenu}
</div>
<div id="contentSidebar">	
	{include #contentSidebar}
</div>