/* 
    Created on : 13-May-2014, 18:55:30
    Author     : Daniel Silovsky
*/
/* imports for all mixins + global project variables */
/* vertical rhythm */
/* font size */
/* heights - should be multiplies of $line-height */
/* colors */
/* text colors */
/* color of text on dark highlight */
/* background colors */
/* basic background color */
/* shades of grey */
/*$color-highlight: rgb(0, 114, 198);  skydrive color */
/* screwfix color */
/* padding */
/* widths */
/* margin */
/* Include to get all modules */
/* 
    Created on : 13-May-2014, 20:52:30
    Author     : Daniel Silovsky
*/
/* 
    Created on : 14-May-2014, 19:41:11
    Author     : Daniel Silovsky
*/
/* 
    Created on : 08-May-2014, 11:20:25
    Author     : Daniel Silovsky
*/
/* 
    Created on : 17-May-2014, 16:36:57
    Author     : Daniel Silovsky
*/
/* input height + label or margin between inputs height */
/* includes borders and paddings */
/* 
    Created on : 24-May-2014, 19:01:35
    Author     : Daniel Silovsky
*/
/* line 17, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
    Created on : 10-May-2014, 14:29:30
    Author     : Daniel Silovsky
*/
/* line 5, ../../app/sass/sass/partials/_globals.scss */
.left {
  float: left  !important;
}

/* line 8, ../../app/sass/sass/partials/_globals.scss */
.right {
  float: right !important;
}

/* line 11, ../../app/sass/sass/partials/_globals.scss */
.clear {
  clear: both !important;
}

/* 
    Created on : 11-May-2014, 17:36:58
    Author     : Daniel Silovsky
*/
/* line 61, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.42857em;
}

/* line 2, ../../app/sass/sass/partials/_common.scss */
a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
}

/*html {
	font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
}*/
/* line 12, ../../app/sass/sass/partials/_common.scss */
body {
  min-width: 987px;
}

/*h1.bar {
	font-size: 1.42857em  20/14 ;
	line-height: $line-height-h1;
	height: $line-height * 4;
}*/
/*.highlight {
	background-color: $color-highlight;
	color: $color-text-dark-highlight;
}*/
/*.layover {
	@include opacity(0.5);
	background-color: black;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
}*/
/* line 35, ../../app/sass/sass/partials/_common.scss */
.popupBox {
  background-color: #fff;
  border: 2px solid #000;
  padding: 15px;
  position: fixed;
}

/*.alert {	
	background-color: #fff;
	border: 2px solid #000;
	line-height: $line-height-normal;
	padding: $padding-main;
	position: fixed;
}*/
/* line 1, ../../app/sass/sass/partials/_main_bar.scss */
#mainBar {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
}
/* line 6, ../../app/sass/sass/partials/_main_bar.scss */
#mainBar ul li {
  float: left;
  margin-right: 10px;
}
/* line 11, ../../app/sass/sass/partials/_main_bar.scss */
#mainBar .authentication {
  float: right;
}

/* line 1, ../../app/sass/sass/partials/_footer.scss */
#footer {
  clear: left;
  height: 2.85714em;
  line-height: 2.85714em;
  padding: 0 1.07143em;
}

/* 
    Created on : 08-May-2014, 11:17:21
    Author     : Daniel Silovsky
*/
/* 
    Created on : 08-May-2014, 11:20:25
    Author     : Daniel Silovsky
*/
/* line 7, ../../app/sass/sass/partials/_typography.scss */
html {
  font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
  color: #282828;
}

/* line 12, ../../app/sass/sass/partials/_typography.scss */
h1 {
  font-size: 1.42857em;
  height: 1em;
  line-height: 1em;
  margin-bottom: 1em;
}

/* 
    Created on : 13-May-2014, 20:41:38
    Author     : Daniel Silovsky
*/
/* line 27, ../../app/sass/sass/modules/_forms.scss */
form li {
  color: red;
}

/* line 32, ../../app/sass/sass/modules/_forms.scss */
input, select {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0 0.57143em;
}
/* line 38, ../../app/sass/sass/modules/_forms.scss */
input:focus, select:focus {
  outline: 0;
}

/* line 43, ../../app/sass/sass/modules/_forms.scss */
input[type=text], input[type=password], input[type=submit], input[type=button], button {
  font-size: 1em;
  margin: 0;
}

/* line 48, ../../app/sass/sass/modules/_forms.scss */
input[type=text], input[type=password] {
  border: 1px solid #e1e1e1;
  height: 1.42857em;
  line-height: 1.57143em;
  /* +2px moves text little bit down in order to center it in inputtext */
  padding-bottom: 0.64286em;
  padding-top: 0.64286em;
}

/* line 56, ../../app/sass/sass/modules/_forms.scss */
input[type=submit], input[type=button], button {
  height: 2.14286em;
  line-height: 2.14286em;
}

/* line 61, ../../app/sass/sass/modules/_forms.scss */
input[type=checkbox] {
  height: 1.42857em;
  margin-right: 0.57143em;
  vertical-align: text-top;
  width: 1.42857em;
}

/* line 68, ../../app/sass/sass/modules/_forms.scss */
select {
  border: 1px solid #e1e1e1;
  font-size: 1em;
  padding-bottom: 0.64286em;
  padding-top: 0.64286em;
}

/* line 75, ../../app/sass/sass/modules/_forms.scss */
textarea {
  display: block;
  margin: 0;
  padding: 0.57143em;
}

/* line 81, ../../app/sass/sass/modules/_forms.scss */
.formRowLabel, .formRowLabelTop, .formRowNolabel, .formRowCheckbox, .formRowError, .formRowErrorTop, .formRowCommonError, .formRowButtons {
  margin-bottom: 1.42857em;
}

/* line 85, ../../app/sass/sass/modules/_forms.scss */
.formRowLabel, .formRowLabelTop {
  margin-top: -1.42857em;
}
/* line 89, ../../app/sass/sass/modules/_forms.scss */
.formRowLabel label, .formRowLabelTop label {
  display: block;
  height: 1.42857em;
  padding-bottom: 0.28571em;
  padding-top: 1.14286em;
}

/* line 97, ../../app/sass/sass/modules/_forms.scss */
.formRowLabelTop {
  margin-top: 0;
}

/* line 110, ../../app/sass/sass/modules/_forms.scss */
.formRowCheckbox label {
  display: block;
  height: 2.85714em;
  line-height: 2.85714em;
}

/* line 116, ../../app/sass/sass/modules/_forms.scss */
.formRowError, .formRowErrorTop {
  margin-top: -1.42857em;
}
/* line 120, ../../app/sass/sass/modules/_forms.scss */
.formRowError li, .formRowErrorTop li {
  display: block;
  min-height: 1.42857em;
  padding-bottom: 0.28571em;
}
/* line 125, ../../app/sass/sass/modules/_forms.scss */
.formRowError li:first-child, .formRowErrorTop li:first-child {
  padding-top: 1.14286em;
}
/* line 130, ../../app/sass/sass/modules/_forms.scss */
.formRowError label, .formRowErrorTop label {
  display: block;
  height: 1.42857em;
  padding-bottom: 0.28571em;
}

/* line 137, ../../app/sass/sass/modules/_forms.scss */
.formRowErrorTop {
  margin-top: 0;
}

/* line 145, ../../app/sass/sass/modules/_forms.scss */
.formRowCommonError li {
  height: 2.85714em;
  line-height: 2.85714em;
}

/* line 155, ../../app/sass/sass/modules/_forms.scss */
.formRowTop {
  margin-top: 0;
}

/* line 159, ../../app/sass/sass/modules/_forms.scss */
.formRowBottom {
  margin-bottom: 40px;
}

/* 
    Created on : 10-May-2014, 20:14:51
    Author     : Daniel Silovsky
*/
/* line 6, ../../app/sass/sass/partials/_buttons.scss */
.buttonArea {
  text-align: right;
}

/* line 10, ../../app/sass/sass/partials/_buttons.scss */
.button {
  background-color: #3074b6;
  border: 0;
  color: white;
  min-width: 6em;
  padding-left: 1.07143em;
  padding-right: 1.07143em;
  margin-left: 1.07143em;
}
/* line 19, ../../app/sass/sass/partials/_buttons.scss */
.button:hover {
  background-color: #3681ca;
}

/* line 24, ../../app/sass/sass/partials/_buttons.scss */
.buttonClose {
  border: 1px solid #282828;
  cursor: pointer;
  float: right;
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  width: 14px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 36, ../../app/sass/sass/partials/_buttons.scss */
.buttonCloseArea {
  position: relative;
}

/* line 40, ../../app/sass/sass/partials/_buttons.scss */
.buttonNegative {
  background-color: #d7d7d7;
  color: #282828;
}
/* line 44, ../../app/sass/sass/partials/_buttons.scss */
.buttonNegative:hover {
  background-color: #e4e4e4;
}

/* 
    Created on : 08-May-2014, 12:16:28
    Author     : Daniel Silovsky
*/
/* line 6, ../../app/sass/sass/partials/_layover.scss */
.layover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background-color: black;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

/* 
    Created on : 08-May-2014, 12:32:16
    Author     : Daniel Silovsky
*/
/* line 5, ../../app/sass/sass/partials/_boxes.scss */
.box, .box-popup, .box-alert {
  background-color: white;
  line-height: 20px;
  padding: 1.07143em;
  position: fixed;
}

/* line 12, ../../app/sass/sass/partials/_boxes.scss */
.box-popup {
  border: 2px solid #000;
}

/* line 17, ../../app/sass/sass/partials/_boxes.scss */
.box-alert {
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  width: 100%;
}

/* 
    Created on : 08-May-2014, 13:09:15
    Author     : Daniel Silovsky
*/
/* line 6, ../../app/sass/sass/partials/_highlight.scss */
.highlight {
  background-color: #3074b6;
  color: white;
}

/* line 1, ../../app/sass/sass/partials/_messages.scss */
.messagesBlock {
  padding: 0.71429em 1.07143em 0.71429em 1.07143em;
}

/* line 5, ../../app/sass/sass/partials/_messages.scss */
.messagesMessage {
  font-weight: bold;
}

/* 
    Created on : 10-May-2014, 12:29:36
    Author     : Daniel Silovsky
*/
/* 
    Created on : 13-May-2014, 19:00:29
    Author     : Daniel Silovsky
*/
/* line 5, ../../app/sass/sass/test/partials/_test.scss */
h1 {
  font-size: inherit;
  line-height: inherit;
  height: auto;
}

/* line 10, ../../app/sass/sass/test/partials/_test.scss */
div.testContent {
  background: url(../images/vertical-rhythm30px.gif);
}

/* line 14, ../../app/sass/sass/test/partials/_test.scss */
h1, h2 {
  font-size: 16px;
  margin-top: 30px;
}

/* line 18, ../../app/sass/sass/test/partials/_test.scss */
p, h1, h2 {
  width: 33em;
  padding-left: 5em;
}
